/* layout */

#container1{
    padding:0 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 10px 0;
}

/* style */

#container1{
    background-color: rgba(36, 29, 29, 0.521);
}

#add_category{
    width: fit-content;
    margin-left:auto;
}
